*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-part{
    display: flex;
    padding: 18px;
    justify-content: space-around;
    align-items: center;
    background-color: #D5D2D2;
}
span{
    color: #00FFFC;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -16px;
}
.items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.items li{
    list-style: none;
}
.items li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700px;
}
