*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    padding: 15px 35px;
    border: none;
    font-size: 18px;
    margin: 5px;
}
.nav-part{
    display: flex;
    padding: 18px;
    justify-content: space-around;
    align-items: center;
    background-color: #D5D2D2;
}
strong{
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -16px;
}
.items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.items li{
    list-style: none;
}
.items li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700px;
}

.banner-containt{
    width: 100%;
    height: 100vh;
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
 .title{
    font-size: 85px;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 10px;
 }
span{
    color:red;
}
.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}

.discover{
    background-color: red;
    color: white;
    border: 0;
    margin-right: 10px;
    width: 200px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600px;
}
.hire{
    border: 0;
    color: red;
    width: 200px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600px;
}
/* services syle */
.services-part{
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    width: 100%;
    height: 800px;
    padding: 30px;
    color: white;
}

.service-title{
    font-size: 40px;
    padding-top: 20px;
}
.service-button{
    border-radius: 50px;
    color: gray;
    font-size: 16px;
    font-weight: 600px;
}
.more-button{
    border-radius: 50px;
    color: red;
    font-size: 13px;
    font-weight: 600px;
    margin-left: 15px;
}
ol{
    width: 80%;
    font-size: 18px;
    padding-bottom: 30px;
    margin-left: 20px;
}
.author-content{
    display: flex;
    align-items: center;
}
.author-details{
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 1px solid red;
    padding-right: 50px;
}
.author-details img{
    width: 70px;
    border-radius: 35px;
}
.service-description{
    width: 80%;
    font-size: 18px;
    font-weight: 600px;
    padding-bottom: 30px;
    padding-top: 20px;
    
}
.services-up{
    display: flex;
}
.service{
    padding: 50px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 300px;
    height: 280px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 10px;
}
.service-details{
    margin-top: 70px;
}
.logo{
    width: 50%;
    padding-bottom: 10px;
}
.services-down{
    display: flex;
}
.services-container{
    display: flex;
}
/* appointment style */
.appointment-section{
    display: flex;
    background-color: #F52C2C;
    width: 80%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: -80px;
    color: white;
    height: 200px;
}
.call-icon{
    width: 100px;
}
.appointment-img{
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid gray;
    padding-right: 50px;
    width: 50%;
}
.appointment-description{
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: right;
    gap: 30px;
    width: 100%;
}
.appointment-description p{
    width: 60%;
}
.appointment-num{
    font-size: 30px;
}
.appointment-title{
    font-size: 12px;
}
.appointment-img{
    width: 60%;
}
.appointment-btn{
    border-radius: 50px;
    font-size: 13px;
   
}
/* blog style */
section{
    padding: 40px;
    width: 100%;
}

.blog-details{
    
    text-align: center;
}
.blog-title{
    margin-bottom: 30px;
    font-size: 50px;
}
.box-blog{
    background-color: white;
    box-shadow: 2px 2px 20px black;
    width: 28%;
    height: 450px;
    border-radius: 10px;
}
.blog-part{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}
.blog-img{
    width: 100%;
    border-radius: 10px  10px 0 0;
    margin-bottom: 20px;
    
}
.blog-description{
    padding: 20px;
    
}
.blog-description h3{
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(73, 73, 73);
}
.blog-description p{
    font-size: 19px;
}
/* footer style */
footer{
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    width: 100%;
    height: 70vh;
    padding: 30px;
    color: white;
    
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    padding-left: 116px;
    border-bottom: 1px solid gray;
    
    
}
.footer-details{
    width: 25%;
    /* margin-top: -103px; */
}
.footer-logo-details{
    width: 25%;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 98px;  
}
.footer-description{
    width: 80%;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.icon-logo{
    width: 30px;
    
    justify-content: space-around;
    align-items: center;
    
}
.footer-title{
    font-size: 20px;
    margin-bottom: 20px;
}
li{
    list-style: none;
    
}
hr{
    
    width: 90%;
    margin: auto;
}
.footer-copy{
    margin-top: 30px;
}